<div class="row aninated fadein fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="txt" class="form-control" placeholder="Buscar..." #txtTermino (keyup)="buscar( txtTermino.value )">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere...</p>
        </div>
    </div>
</div>


<div class="row" *ngIf="!cargando">
    <div class=" col-12 ">
        <div class="card ">
            <div class="card-body ">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Candidatos ({{ candidatos.length }})</h4>
                        <h6 class="card-subtitle">Candidatos registrados</h6>
                    </div>
                    <div class="col">
                        <div class="text-right">
                            <a class="btn btn-primary" routerLink="/dashboard/candidato/nuevo">
                                <i class="fa fa-bullseye"></i> Crear Candidato
                            </a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive ">
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th class="w100 ">Avatar</th>
                                <th>Nombre</th>
                                <th class="text-nowrap ">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let candidato of candidatos ">
                                <td class="text-center ">
                                    <img [src]="candidato.img | imagen: 'candidatos' " class="avatar cursor " [alt]=" candidato.nombre " (click)="abrirModal( candidato ) ">
                                </td>
                                <td>
                                    {{ candidato.nombre }}
                                </td>

                                <td class="text-nowrap w100 text-center ">
                                    <a [routerLink]="['/dashboard/','candidato', candidato._id]" data-toggle="tooltip " data-original-title="Editar "> <i class="fa fa-pencil text-inverse m-r-10 "></i> </a>
                                    <a data-toggle="tooltip " class="cursor" (click)="borrarCandidato(candidato)" data-original-title="Borrar "> <i class="fa fa-close text-danger "></i> </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <button class="btn btn-secondary ">Anteriores</button> &nbsp;
                <button class="btn btn-secondary ">Siguientes</button>

            </div>
        </div>
    </div>
</div>