<div class="row animated fadein fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar usuario..." (keyup)="buscar( txtTermino.value )" #txtTermino>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadein fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere...</p>
        </div>
    </div>
</div>


<div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total de usuarios ({{ totalUsuarios }})</h4>
                <h6 class="card-subtitle">Usuarios registrados en la apliación</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <caption><small>Haga click para modificar el avatar, rol o estado</small></caption>
                        <thead>
                            <tr>
                                <th class="w100">Avatar</th>
                                <th>Correo</th>
                                <th>Nombre</th>
                                <th class="w140">Rol</th>
                                <th class="w100">Auth</th>
                                <th class="w100">Estado</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let usuario of usuarios">
                                <td class="text-center">
                                    <img [src]="usuario.imagenUrl" alt="" class="avatar cursor" (click)="abrirModal( usuario )">
                                </td>
                                <td>{{ usuario.email }}</td>
                                <td>{{ usuario.nombre}}</td>
                                <td>
                                    <select class="form-control" [(ngModel)]="usuario.role" (change)="cambiarRole( usuario )">  
                                        <option value="ADMIN_ROLE">Admin</option>
                                        <option  value="USER_ROLE">User</option>
                                    </select>
                                </td>
                                <td>
                                    <span *ngIf="!usuario.google" class="label label-purple">Email</span>
                                    <span *ngIf="usuario.google" class="label label-danger">Google</span>
                                </td>
                                <td>
                                    <span *ngIf="!usuario.estado" (click)="cambioEstado(usuario)" class="label label-danger cursor">Baja</span>
                                    <span *ngIf="usuario.estado" (click)="cambioEstado(usuario)" class="label label-success cursor">Activo</span>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>

                <div *ngIf="txtTermino.value.length === 0">
                    <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anteriores</button> &nbsp;
                    <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguientes</button>
                </div>



            </div>
        </div>
    </div>
</div>